fastapi
pandas
plotly
psycopg2-binary
pydantic
sqlalchemy
streamlit
uvicorn[standard]
stl
numpy
numpy-stl
requests
openai
python-multipart
streamlit-extras
trimesh
twilio
tomli
fastapi
psycopg2-binary
sqlalchemy
streamlit
uvicorn
